<!DOCTYPE html>
<html>
<head lang="en">
    <title>login</title>
</head>
<body>
    this is the login view<br/>
    <!--<div th:text="${#maps.size(mymap)}"></div>-->
    <div th:text="${message}"></div>
    <br/>
    <form method="POST" action="login" th:object="${loginForm}" th:action="@{login}">
        <input name="userid" id="username" th:value="${mymap?.username}"/><br/>
        <input name="pwd" id="pwd" type="password"/><br/>
        <input type="submit" value="login">
    </form>
    <br/>
    end of form
</body>
</html>